<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ - Assignment WEB</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/banner.css">
</head>

<body>
    <header id="top">
        <img src="../img/icon/FPT_Polytechnic.png" alt="logo website">
        <div class="search-controller">
            <input type="search" placeholder="Tìm sản phẩm" id="searchField">
            <input type="button" value="🔍" id="searchBtn">
        </div>
        <a href="cart.html">
            <div>2</div>
            <img src="../img/icon/cart.png" alt="Your shopping cart">
        </a>
    </header>

    <nav>
        <ul class="left-nav">
            <li><a href="">Trang chủ</a></li>
            <li><a href="about.html">Giới thiệu</a></li>
            <li>
                <a href="">Sản phẩm</a>
                <ul>
                    <li><a href="#Iphone">Iphone</a></li>
                    <li><a href="#Samsung">Samsung</a></li>
                    <li><a href="#Xiaomi">Xiaomi</a></li>
                </ul>
            </li>
            <li><a href="support.html">Hỗ trợ</a></li>
        </ul>
        <ul class="right-nav">
            <li><a href="signIn.html">Đăng nhập</a></li>
            <li><a href="signUp.html">Đăng ký</a></li>
        </ul>
    </nav>
    <div class="banner">
        <button id="btnPrev" onclick="toPrev()">◀️</button>
        <div class="slide">
            <img src="../img/products/prod0/prod0.jpg" alt="">
            <img src="../img/products/prod1/prod0.jpg" alt="">
            <img src="../img/products/prod2/prod0.jpg" alt="">
            <img src="../img/products/prod3/prod0.jpg" alt="">
            <img src="../img/products/prod4/prod0.jpg" alt="">
            <img src="../img/products/prod5/prod0.jpg" alt="">
        </div>
        <button id="btnNext" onclick="toNext()">▶️</button>
    </div>
    <main>
        <section>
            <h2>Sản phẩm mới</h2>
            <div class="image-container">
                <a href="prod.html" onclick="openDetail(0)"><img src="../img/products/prod0/prod0.jpg" alt="iphone-15-plus"></a>
            </div>
            <div class="image-container">
                <a href="prod.html" onclick="openDetail(1)"><img src="../img/products/prod1/prod0.jpg" alt="iPhone-15-pro-Max"></a>
            </div>
            <div class="image-container">
                <a href="prod.html" onclick="openDetail(2)"><img src="../img/products/prod2/prod0.jpg" alt="galaxy-s23-ultra"></a>
            </div>
            <div class="image-container">
                <a href="prod.html" onclick="openDetail(3)"><img src="../img/products/prod3/prod0.jpg" alt="galaxy-s24-ultra"></a>
            </div>
            <div class="image-container">
                <a href="prod.html" onclick="openDetail(4)"><img src="../img/products/prod4/prod0.jpg" alt="Redmi-Note-12-Pro"></a>
            </div>
            <div class="image-container">
                <a href="prod.html" onclick="openDetail(5)"><img src="../img/products/prod5/prod0.jpg" alt="redmi-note-13"></a>
            </div>
        </section>
        <aside>
            <ul style="list-style-type: none;padding: 0;margin: 0;border-radius: 15px;">
                <li><a href="#Iphone" id="aside-first">Iphone</a></li>
                <li><a href="#Samsung">Samsung</a></li>
                <li><a href="#Xiaomi" id="aside-last">Xiaomi</a></li>
            </ul>
        </aside>

        <article>
            <h3 id="Iphone">Iphone</h3>
            <div class="product-containers">
                <a href="prod.html" onclick="openDetail(0)">
                    <div class="prod">
                        <div class="name">Iphone-15-plus</div>
                        <img class="image" src="../img/products/prod0/prod0.jpg" />
                        <div class="price">$ <span>100</span></div>
                        <div class="icons">
                            <img src="../img/icon/heart.png" />
                            <img src="../img/icon/letter.png" />
                            <img src="../img/icon/shopping-cart.png" />
                        </div>
                        <img class="new-icon" src="../img/icon/sign.png" />
                    </div>
                </a>
                <a href="prod.html" onclick="openDetail(1)">
                    <div class="prod">
                        <div class="name">IPhone-15-pro-Max</div>
                        <img class="image" src="../img/products/prod1/prod0.jpg" />
                        <div class="price">$ <span>100</span></div>
                        <div class="icons">
                            <img src="../img/icon/heart.png" />
                            <img src="../img/icon/letter.png" />
                            <img src="../img/icon/shopping-cart.png" />
                        </div>
                        <img class="new-icon" src="../img/icon/sign.png" />
                    </div>
                </a>
                <a href="prod.html" onclick="openDetail(0)">
                    <div class="prod">
                        <div class="name">Iphone-15-plus</div>
                        <img class="image" src="../img/products/prod0/prod0.jpg" />
                        <div class="price">$ <span>100</span></div>
                        <div class="icons">
                            <img src="../img/icon/heart.png" />
                            <img src="../img/icon/letter.png" />
                            <img src="../img/icon/shopping-cart.png" />
                        </div>
                        <img class="new-icon" src="../img/icon/sign.png" />
                    </div>
                </a>
            </div>
            <h3 id="Samsung">Samsung</h3>
            <div class="product-containers">
                <a href="prod.html" onclick="openDetail(2)">
                    <div class="prod">
                        <div class="name">Galaxy-s23-ultra</div>
                        <img class="image" src="../img/products/prod2/prod0.jpg" />
                        <div class="price">$ <span>100</span></div>
                        <div class="icons">
                            <img src="../img/icon/heart.png" />
                            <img src="../img/icon/letter.png" />
                            <img src="../img/icon/shopping-cart.png" />
                        </div>
                        <img class="new-icon" src="../img/icon/sign.png" />
                    </div>
                </a>
                <a href="prod.html" onclick="openDetail(3)">
                    <div class="prod">
                        <div class="name">Galaxy-s24-ultra</div>
                        <img class="image" src="../img/products/prod3/prod0.jpg" />
                        <div class="price">$ <span>100</span></div>
                        <div class="icons">
                            <img src="../img/icon/heart.png" />
                            <img src="../img/icon/letter.png" />
                            <img src="../img/icon/shopping-cart.png" />
                        </div>
                        <img class="new-icon" src="../img/icon/sign.png" />
                    </div>
                </a>
                <a href="prod.html" onclick="openDetail(2)">
                    <div class="prod">
                        <div class="name">Galaxy-s23-ultra</div>
                        <img class="image" src="../img/products/prod2/prod0.jpg" />
                        <div class="price">$ <span>100</span></div>
                        <div class="icons">
                            <img src="../img/icon/heart.png" />
                            <img src="../img/icon/letter.png" />
                            <img src="../img/icon/shopping-cart.png" />
                        </div>
                        <img class="new-icon" src="../img/icon/sign.png" />galaxy/
                    </div>
                </a>
            </div>
            <h3 id="Xiaomi">Xiaomi</h3>
            <div class="product-containers">
                <a href="prod.html" onclick="openDetail(4)">
                    <div class="prod">
                        <div class="name">Redmi-Note-12-Pro</div>
                        <img class="image" src="../img/products/prod4/prod0.jpg" />
                        <div class="price">$ <span>100</span></div>
                        <div class="icons">
                            <img src="../img/icon/heart.png" />
                            <img src="../img/icon/letter.png" />
                            <img src="../img/icon/shopping-cart.png" />
                        </div>
                        <img class="new-icon" src="../img/icon/sign.png" />
                    </div>
                </a>
                <a href="prod.html" onclick="openDetail(5)">
                    <div class="prod">
                        <div class="name">Redmi-note-13</div>
                        <img class="image" src="../img/products/prod5/prod0.jpg" />
                        <div class="price">$ <span>100</span></div>
                        <div class="icons">
                            <img src="../img/icon/heart.png" />
                            <img src="../img/icon/letter.png" />
                            <img src="../img/icon/shopping-cart.png" />
                        </div>
                        <img class="new-icon" src="../img/icon/sign.png" />
                    </div>
                </a>
                <a href="prod.html" onclick="openDetail(4)">
                    <div class="prod">
                        <div class="name">Redmi-Note-12-Pro</div>
                        <img class="image" src="../img/products/prod4/prod0.jpg" />
                        <div class="price">$ <span>100</span></div>
                        <div class="icons">
                            <img src="../img/icon/heart.png" />
                            <img src="../img/icon/letter.png" />
                            <img src="../img/icon/shopping-cart.png" />
                        </div>
                        <img class="new-icon" src="../img/icon/sign.png" />
                    </div>
                </a>
            </div>
        </article>

    </main>
    <footer>
        <h5>Assignment WEB1013</h5>
        <p>&copy; PS38327 - Nguyễn Đàm Hoàng Linh</p>
    </footer>

    <div class="moveUp">
        <a href="#top"><img src="../img/icon/upload.png" alt="move top"></a>
    </div>

    <script src="../js/banner.js"></script>
    <script src="../js/prod.js"></script>
    <script src="../js/user.js"></script>
</body>

</html>