<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản phẩm</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/banner.css">
    <link rel="stylesheet" href="../css/mains/prod.css">
</head>
<body>
    <header id="top">
        <img src="../img/icon/FPT_Polytechnic.png" alt="logo website">
        <div class="search-controller">
            <input type="search" placeholder="Tìm sản phẩm" id="searchField">
            <input type="button" value="🔍" id="searchBtn">
        </div>
        <a href="cart.html">
            <div>2</div>
            <img src="../img/icon/cart.png" alt="Your shopping cart">
        </a>
    </header>
    <nav>
        <ul class="left-nav">
            <li><a href="home.html">Trang chủ</a></li>
            <li><a href="about.html">Giới thiệu</a></li>
            <li>
                <a href="">Sản phẩm</a>
                <ul>
                    <li><a href="home.html#Iphone">Iphone</a></li>
                    <li><a href="home.html#Samsung">Samsung</a></li>
                    <li><a href="home.html#Xiaomi">Xiaomi</a></li>
                </ul>
            </li>
            <li><a href="support.html">Hỗ trợ</a></li>
        </ul>
        <ul class="right-nav">
            <li><a href="signIn.html">Đăng nhập</a></li>
            <li><a href="signUp.html">Đăng ký</a></li>
        </ul>
    </nav>
    <div class="banner">
        <button id="btnPrev" onclick="toPrev()">◀️</button>
        <div class="slide">
            <img src="../img/products/prod0/prod0.jpg" alt="">
            <img src="../img/products/prod1/prod0.jpg" alt="">
            <img src="../img/products/prod2/prod0.jpg" alt="">
            <img src="../img/products/prod3/prod0.jpg" alt="">
            <img src="../img/products/prod4/prod0.jpg" alt="">
            <img src="../img/products/prod5/prod0.jpg" alt="">
        </div>
        <button id="btnNext" onclick="toNext()">▶️</button>
    </div>
    <main>
        <aside>
            <ul style="list-style-type: none;padding: 0;margin: 0;border-radius: 15px;">
                <li><a href="home.html#Iphone" id="aside-first">Iphone</a></li>
                <li><a href="home.html#Samsung">Samsung</a></li>
                <li><a href="home.html#Xiaomi" id="aside-last">Xiaomi</a></li>
            </ul>
        </aside>
        <article>
            <div id="detail-img">
                <img src="" alt="" id="displayImg">
                <div id="extra-imgs">
                    <img src="" alt="" onclick="setDetailImg(0)">
                    <img src="" alt="" onclick="setDetailImg(1)">
                    <img src="" alt="" onclick="setDetailImg(2)">
                    <img src="" alt="" onclick="setDetailImg(3)">
                    <img src="" alt="" onclick="setDetailImg(4)">
                </div>
            </div>
            <h2 id="detail-name"></h2>
            <p><span id="detail-price"></span> Đ</p>
            <button onclick="addToCart()" id="toCart">Thêm vào giỏ hàng</button>
            <hr style="clear: both;">
            <h2>Chi tiết sản phẩm</h2>
        </article>
        
    </main>
    <footer>
        <h5>Assignment WEB1013</h5>
        <p>&copy; PS38327 - Nguyễn Đàm Hoàng Linh</p>
    </footer>

    <div class="moveUp">
        <a href="#top"><img src="../img/icon/upload.png" alt="move top"></a>
    </div>
    <script src="../js/banner.js">
        
    </script>
    <script src="../js/detailView.js"></script>
    <script src="../js/user.js"></script>
</body>
</html>