<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../layout/css/style.css">
</head>

<body>
    <header>
        <h1>Trang quản trị</h1>
        <nav class="row">
            <ul class="nav-left col-55">
                <li id="home" class="nav-item">Trang chủ</li>
                <li id="category" class="nav-item">Danh mục</li>
                <li id="product" class="nav-item">Sản phẩm</li>
                <li id="customer" class="nav-item">Khách hàng</li>
                <li id="package" class="nav-item">Đơn hàng</li>
                <li id="manage" class="nav-item">Quản trị</li>
            </ul>

            <div class="nav-right col-55">
                <li value="logIn" onclick="toPage(value)">Đăng nhập</li>
            </div>
        </nav>
    </header>
  
     <section>
        <div class="container">
           <div class="grid" >
               <div class="card">
                   <h2>Doanh số bán hàng</h2>
                   <canvas id="salesChart" width="400" height="200"></canvas>
               </div>
               <div class="card">
                   <h2>Đơn hàng mới</h2>
                   <p>100</p>
               </div>
               <div class="card">
                   <h2>Sản phẩm bán chạy</h2>
                   <p>50</p>
               </div>
           </div>
           <div class="grid" >
               <div class="card">
                   <h2>Danh sách sản phẩm</h2>
                   
               </div>
               <div class="card">
                   <h2>Bình luận</h2>
                   <p>100</p>
               </div>
               <div class="card">
                   <h2>Khách hàng mới</h2>
                   <p>50</p>
               </div>
           </div>
       </div>
     </section>
  
     <footer>
        <div>Copyright 2024 My Dashboard.</div>
     </footer>

    <script>
        const navItems = document.querySelectorAll(".nav-item");
        navItems.forEach(item => {
            item.addEventListener("click", event => {
                const location = event.target.id;
                document.location = `${location}.html`;
            })
        })
    </script>
</body>

</html>