<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Trang quản trị</title>
   <link rel="stylesheet" href="../layout/css/admin.css">
</head>
<body>
   <header>
      <h1>trang quản trị / dashboard </h1>
      <nav>
         <div class="row">
            <div class="nav-left col-l-70">
               <ul>
                  <li><a href="../">trang chủ</a></li>
                  <li><a href="category.html">danh mục</a></li>
                  <li><a href="product.html">sản phẩm</a></li>
                  <li><a href="customer.html">khách hàng</a></li>
                  <li><a href="order.html">đơn hàng</a></li>
                  <li class="active"><a href="user.html">Quản trị viên</a></li>
               </ul>
            </div>
            <div class="nav-right col-r-30">
               <ul>
                  <li><a href="login.html">Đăng nhập</a></li>
               </ul>
            </div>
         </div>
      </nav>
   </header>

   <section>
      <div class="row">
         <div class="col-l-70">hello</div>
         <div class="col-r-30">good bye</div>
     </div>
   </section>

   <footer>
      <div>Copyright 2024 My Dashboard.</div>
   </footer>
</body>
</html>