<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ - Assignment WEB</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body>
    <header id="top">
        <img src="../img/FPT_Polytechnic.png" alt="logo website">
        <div class="search-controller">
            <input type="search" placeholder="Tìm sản phẩm" id="searchField">
            <input type="button" value="🔍" id="searchBtn">
        </div>
        <div class="lang-controller">
            <select name="lang" id="lang">
                <option value="English">English</option>
                <option value="Tiếng Việt">Tiếng Việt</option>
                <option value="日本語">日本語</option>
            </select>
        </div>
    </header>
    <nav>
        <ul class="left-nav">
            <li><a href="">Trang chủ</a></li>
            <li><a href="about.html">Giới thiệu</a></li>
            <li>
                <a href="">Sản phẩm</a>
                <ul>
                    <li><a href="#Iphone">Iphone</a></li>
                    <li><a href="#Samsung">Samsung</a></li>
                    <li><a href="#Xiaomi">Xiaomi</a></li>
                </ul>
            </li>
            <li><a href="support.html">Hỗ trợ</a></li>
        </ul>
        <ul class="right-nav">
            <li><a href="signIn.html">Đăng nhập</a></li>
            <li><a href="signUp.html">Đăng ký</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Sản phẩm mới</h2>
            <div class="image-container">
                <a href=""><img src="../img/products/iPhone-15-pro-Max.jpg" alt="iPhone-15-pro-Max"></a>
            </div>
            <div class="image-container">
                <a href="iphone15-plus.html"><img src="../img/products/iphone-15-plus.jpg" alt="iphone-15-plus"></a>
            </div>
            <div class="image-container">
                <a href="iphone15-plus.html"><img src="../img/products/galaxy-s24-ultra.jpg" alt="galaxy-s24-ultra"></a>
            </div>
            <div class="image-container">
                <a href="iphone15-plus.html"><img src="../img/products/galaxy-s23-ultra.png" alt="galaxy-s23-ultra"></a>
            </div>
            <div class="image-container">
                <a href="iphone15-plus.html"><img src="../img/products/redmi-note-13.png" alt="redmi-note-13"></a>
            </div>
            <div class="image-container">
                <a href="iphone15-plus.html"><img src="../img/products/Redmi-Note-12-Pro.jpg" alt="Redmi-Note-12-Pro"></a>
            </div>
        </section>
        <aside>
            <ul style="list-style-type: none;padding: 0;margin: 0;border-radius: 15px;">
                <li><a href="#Iphone" id="aside-first">Iphone</a></li>
                <li><a href="#Samsung">Samsung</a></li>
                <li><a href="#Xiaomi" id="aside-last">Xiaomi</a></li>
            </ul>
        </aside>

        <article>
            <h3 id="Iphone">Iphone</h3>
            <div class="product-containers">
                <a href="iphone15-plus.html"><div class="prod">
                    <div class="name">Iphone-15-plus</div>
                    <img class="image" src="../img/products/iphone-15-plus.jpg" />
                    <div class="price">$ 100</div>
                    <div class="icons">
                        <img src="../img/icon/heart.png" />
                        <img src="../img/icon/letter.png" />
                        <img src="../img/icon/shopping-cart.png" />
                    </div>
                    <img class="new-icon" src="../img/icon/sign.png" />
                </div></a>
                <a href="iphone15-plus.html"><div class="prod">
                    <div class="name">IPhone-15-pro-Max</div>
                    <img class="image" src="../img/products/iPhone-15-pro-Max.jpg" />
                    <div class="price">$ 100</div>
                    <div class="icons">
                        <img src="../img/icon/heart.png" />
                        <img src="../img/icon/letter.png" />
                        <img src="../img/icon/shopping-cart.png" />
                    </div>
                    <img class="new-icon" src="../img/icon/sign.png" />
                </div></a>
                <a href="iphone15-plus.html"><div class="prod">
                    <div class="name">Iphone-15-plus</div>
                    <img class="image" src="../img/products/iphone-15-plus.jpg" />
                    <div class="price">$ 100</div>
                    <div class="icons">
                        <img src="../img/icon/heart.png" />
                        <img src="../img/icon/letter.png" />
                        <img src="../img/icon/shopping-cart.png" />
                    </div>
                    <img class="new-icon" src="../img/icon/sign.png" />
                </div></a>
            </div>
            <h3 id="Samsung">Samsung</h3>
            <div class="product-containers">
                <a href="iphone15-plus.html"><div class="prod">
                    <div class="name">Galaxy-s23-ultra</div>
                    <img class="image" src="../img/products/galaxy-s23-ultra.png" />
                    <div class="price">$ 100</div>
                    <div class="icons">
                        <img src="../img/icon/heart.png" />
                        <img src="../img/icon/letter.png" />
                        <img src="../img/icon/shopping-cart.png" />
                    </div>
                    <img class="new-icon" src="../img/icon/sign.png" />
                </div></a>
                <a href="iphone15-plus.html"><div class="prod">
                    <div class="name">Galaxy-s24-ultra</div>
                    <img class="image" src="../img/products/galaxy-s24-ultra.jpg" />
                    <div class="price">$ 100</div>
                    <div class="icons">
                        <img src="../img/icon/heart.png" />
                        <img src="../img/icon/letter.png" />
                        <img src="../img/con/shopping-cart.png" />
                    </div>
                    <img class="new-icon" src="../img/icon/sign.png" />
                </div></a>
                <a href="iphone15-plus.html"><div class="prod">
                    <div class="name">Galaxy-s23-ultra</div>
                    <img class="image" src="../img/products/galaxy-s23-ultra.png" />
                    <div class="price">$ 100</div>
                    <div class="icons">
                        <img src="../img/icon/heart.png" />
                        <img src="../img/icon/letter.png" />
                        <img src="../img/icon/shopping-cart.png" />
                    </div>
                    <img class="new-icon" src="../img/icon/sign.png" />
                </div></a>
            </div>
            <h3 id="Xiaomi">Xiaomi</h3>
            <div class="product-containers">
                <a href="iphone15-plus.html"><div class="prod">
                    <div class="name">Redmi-Note-12-Pro</div>
                    <img class="image" src="../img/products/Redmi-Note-12-Pro.jpg" />
                    <div class="price">$ 100</div>
                    <div class="icons">
                        <img src="../img/icon/heart.png" />
                        <img src="../img/icon/letter.png" />
                        <img src="../img/icon/shopping-cart.png" />
                    </div>
                    <img class="new-icon" src="../img/icon/sign.png" />
                </div></a>
                <a href="iphone15-plus.html"><div class="prod">
                    <div class="name">Redmi-note-13</div>
                    <img class="image" src="../img/products/redmi-note-13.png" />
                    <div class="price">$ 100</div>
                    <div class="icons">
                        <img src="../img/icon/heart.png" />
                        <img src="../img/icon/letter.png" />
                        <img src="../img/icon/shopping-cart.png" />
                    </div>
                    <img class="new-icon" src="../img/icon/sign.png" />
                </div></a>
                <a href="iphone15-plus.html"><div class="prod">
                    <div class="name">Redmi-Note-12-Pro</div>
                    <img class="image" src="../img/products/Redmi-Note-12-Pro.jpg" />
                    <div class="price">$ 100</div>
                    <div class="icons">
                        <img src="../img/icon/heart.png" />
                        <img src="../img/icon/letter.png" />
                        <img src="../img/icon/shopping-cart.png" />
                    </div>
                    <img class="new-icon" src="../img/icon/sign.png" />
                </div></a>
            </div>
        </article>

    </main>
    <footer>
        <h5>Assignment WEB1013</h5>
        <p>&copy; PS38327 - Nguyễn Đàm Hoàng Linh</p>
    </footer>

    <div class="moveUp">
        <a href="#top"><img src="../img/upload.png" alt="move top"></a>
    </div>

    <div class="theme-switch" title="Dark Theme">
        <div class="switch">☀️</div>
    </div>
    <script>
        const container = document.querySelector(".theme-switch");
        const slider = document.querySelector(".switch");
        const all = document.querySelectorAll("body *");
        container.addEventListener("click", () => {
            slider.classList.toggle("dark");
            container.classList.toggle("darkContainer");
            all.forEach(element => {
                element.classList.toggle("dark-theme");
            });
            if (slider.classList.contains("dark")) {
                slider.textContent = "🌙";
                container.title = "Light Theme";
            }
            else {
                slider.textContent = "☀️";
                container.title = "Dark Theme";
            }
        });
    </script>
</body>

</html>
